<h2 class="center">Reviews:</h2>
<p>See all of <%= @user.username %>'s reviews <%= link_to 'here', reviews_path(:user_id => @user.id) %>
<%= render 'reviews' , reviews: @user.reviews %>

<br>

<br>
<br>


<%= link_to 'Write a Review', new_review_path(@user) %>
