<ul>
    <% reviews.each do |review| %>
        <li><%= link_to "#{review.book.title} - #{review.rating} Star(s)", review_path(review) %><br>
          Reviewer: <%= link_to review.user.try(:username), user_path(review.user) %><br>
          Book: <%= link_to review.book.try(:title), book_path(review.book) %></li>
    <% end %>
</ul>